.swiper-pagination.swiper-pagination-fraction.swiper-pagination-horizontal {
	display: none;
}

.tooltip {
	margin-left: 18px;
	margin-bottom: 6px;
	transition: 0.1s cubic-bezier(0.29, 0.13, 0.27, 0.74);
}
.tooltip-inner {
	background-color: #fff;
	color: #000;
}

.tooltip-arrow {
	border-top-color: #fff !important;
}

.tooltip-arrow::before {
	border-color: #fff transparent transparent transparent !important;
}
.swiper-wrapper {
	width: 50px !important;
}

body {
	overflow-x: hidden;
}
