.slide {
	--color: #000;
	--hover: #9fd771;
	background: none;
	line-height: 1;
	border: none;
	margin: 0.5em;
	padding: 1em 2em;
	position: relative;
	overflow: hidden;
}

.slide::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: var(--hover);
	transform: translateX(0);
	transition: 0.3s cubic-bezier(0.29, 0.13, 0.27, 0.74);
	z-index: 0;
}

.slide:hover::after,
.slide:focus::after {
	width: 100%;
}

.slide:hover,
.slide:focus {
	z-index: 1;
}
.btnText {
	text-transform: uppercase;
	position: relative;
	z-index: 2;
}
