/* Slide Button */

.slideButton {
	color: #000;
	--hover: #ffd401;
	background: none;
	line-height: 1;
	border: none;
	margin: 0.5em;
	padding: 1em 2em;
	position: relative;
	overflow: hidden;
	text-decoration: none;
}

.slideButton::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 40%;
	height: 100%;
	background: var(--hover);
	transform: translateX(0);
	transition: 0.3s cubic-bezier(0.29, 0.13, 0.27, 0.74);
	z-index: 0;
}

.slideButton:hover::after,
.slideButton:focus::after {
	width: 100%;
}

.slideButton:hover,
.slideButton:focus {
	z-index: 1;
}

.btnText {
	text-transform: uppercase;
	position: relative;
	z-index: 2;
}

@media (min-width: 480px) and (max-width: 768px) {
	.slideButton {
		padding: 0.5em 1em;
		letter-spacing: 0;
		font-size: 15px;
	}
}

@media (min-width: 768px) and (max-width: 1200px) {
	.slideButton {
		padding: 0.5em 1em;
		letter-spacing: 0;
	}
}

@media (max-width: 480px) {
	.slideButton {
		padding: 0.5em 1em;
		letter-spacing: 0;
		font-size: 15px;
	}
}
