.indexAbout {
	margin-top: 7.5rem;
	padding-bottom: 20rem;
	position: relative;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.aboutBg {
	height: auto;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	z-index: -1;
	width: 100%;
}

.aboutMap {
	position: absolute;
	top: 300px;
	z-index: -1;
}

.gradientTitle {
	-webkit-text-fill-color: transparent;
	background: linear-gradient(90.08deg, #173d70 0.07%, #108dcd 60.94%);
	-webkit-background-clip: text;
	background-clip: text;
	line-height: 1em;
	z-index: 1;
	text-align: center;
}

.gradientTitleH2 {
	padding-top: 1em;
	font-weight: 900;
	font-size: 80px;
	width: 500px;
	font-style: italic;
}

.gradientTitleH3 {
	font-weight: 600;
	font-size: 73.8px;
}

.aboutParagraph {
	margin-top: 1em;
	font-size: 30px;
	text-align: center;
}

@media (min-width: 480px) and (max-width: 768px) {
	.indexAbout {
		margin-top: 1rem;
	}
	.gradientTitleH2 {
		padding-top: 0.5em;
		font-size: 50px;
		letter-spacing: -2px;
	}

	.gradientTitleH3 {
		font-size: 38px;
		letter-spacing: -2px;
	}

	.aboutParagraph {
		margin-top: 10px;
		font-size: 20px;
	}

	.aboutMap {
		top: 200px;
		z-index: -1;
	}
}

@media (min-width: 768px) and (max-width: 1200px) {
	.indexAbout {
		margin-top: 3rem;
		letter-spacing: -2px;
	}
	.gradientTitleH2 {
		font-size: 64.8px;
	}

	.gradientTitleH3 {
		font-size: 57.6px;
	}

	.aboutParagraph {
		margin-top: 10px;
		font-size: 25px;
		letter-spacing: 0;
	}

	.aboutMap {
		top: 250px;
		z-index: -1;
	}
}

@media (max-width: 480px) {
	.indexAbout {
		margin-top: 1rem;
	}
	.gradientTitleH2 {
		padding-top: 0.5em;
		font-size: 50px;
		letter-spacing: -2px;
	}

	.gradientTitleH3 {
		font-size: 38px;
		letter-spacing: -2px;
	}

	.aboutParagraph {
		margin-top: 10px;
		font-size: 20px;
	}

	.aboutMap {
		top: 250px;
		z-index: -1;
	}
}
